.bar{
    background-color: rosybrown;
    width: 100%;
    height: 70px;
    padding: 5px;
}
.bar img{
    float: left;
    width: 230px;
    height: 100px;
}
.search input[type=text]
{
    width:300px;
    height:30px;
    border-radius:25px;
    border: none;
    background-color:rgba(119, 118, 118, 0.356);
    float:right;
    margin-top:35px;
}
.bar a{
    color: #fff;
    text-decoration: none;
}
.bar ul{
    list-style-type: none;
    display: inline;
    float: left;
    margin-top:35px;
    font-size: larger;
    position:absolute;
    left: 550px;
}
.bar ul li{
    display: inline;
    margin-right: 10px;
}
.bar a:hover{
    color:rgba(255, 255, 255, 0.555);
}
.bar2{
    background-color: rgba(188, 143, 143, 0.329);
    width: 100%;
    height: 35px;
}
.end{
    background-color: rgba(188, 143, 143, 0.329);
    font-weight: lighter;
    padding: 20px;
    margin-top: 50px;
}
.end hr{
    color:#919191b9;
}
.list{
    list-style-type: circle;
}
#last{
    background-color:rosybrown;
    padding: 20px;
    color: #fff;
}
#last img{
    height: 40px;
    width: 120px;
}
#last p{
    line-height: 40px;
}
.egypt:hover{
    text-decoration: underline;
    opacity:40%;
}
.filter_table
{
    display: table;
    margin-top: 35px;
    margin-left: 25px;
    border-right: 2px solid silver;
    padding-right: 2%;
    float: left;
}
#table
{
    margin-top: 10px;
}
#filter
{
    width: 100%;
}
select
{
    scrollbar-width: none;
}
#rightside{
    padding: 50px;  
    padding-left:20%;
    color:rgb(119, 119, 119);
    text-align:center;
}
#rightside h2{
    color:rgb(177, 144, 144);
    font-weight: bolder;
}
.container h5{
    display: inline;
}
.discribe{
    font-size:larger;
    font-weight: bolder;
    color:rgb(177, 144, 144);
}
figure{
    padding-bottom: 10px;
    border:1px solid rosybrown;
    border-radius: 1%;
}
.container img{
    height: 370px;
    width: 240px
}
.clear{
    clear: both;
}

